.navbar-style{
    box-shadow: 0 5px 10px #efefef ;
}

.logo {
    height: 50px;
    padding: 2px 10px;
    }

.btn{
    margin: 2px;
}

li,a{
    display: inline-flex;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 19px;
}

a{
    margin: 0.5rem;
}

