<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan</title>
</head>
<body>
  <app-navbar></app-navbar>
    <div class="col-9">
        <div class="container">
            <h1>Loans</h1>
           <div class="card" style="width: 18rem;">
  <img class="card-img-top" height="189px" src="https://thumbs.dreamstime.com/z/concept-housing-relocation-happy-family-mother-father-kids-roof-home-142547132.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Home Loans</h5>
    <p class="card-text">Get Home loans with minimum intrest and approved instantly</p>
    <a   routerLink="/intrest" class="btn btn-outline-primary btn-lg">Explore</a>
  </div>
</div>
           <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.financialexpress.com/2021/10/car-loan1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Loans</h5>
    <p class="card-text">Get Home loans with minimum intrest and approved instantly</p>
    <a  routerLink="/intrest" class="btn btn-outline-primary btn-lg">Explore</a>
  </div>
</div>
           <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.financialexpress.com/2020/05/loan1200.jpg?w=1200&h=800&imflag=true" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Personal Loans</h5>
    <p class="card-text">Get Home loans with minimum intrest and approved instantly</p>
    <a  routerLink="/intrest" class="btn btn-outline-primary btn-lg">Explore</a>
    <!-- <button class="btn btn-outline-primary" type="button" [routerLink]="['register']"><i class="fa fa-fw fa-user-plus"></i>Signup</button> -->
  </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-5">
        <ul class="warning">
            <li>IMPORTANT: xyz of India never ask for your user id / password / pin no. through phone call / SMSes / e-mails. Any such phone call / SMSes / e-mails asking you to reveal credential or One Time Password through SMS could be attempt to withdraw money from your account.NEVER share these details to anyone. State Bank of India wants you to be secure. If you come across any such instances please inform us through e-mail to the following address- </li>
        </ul>
    </div>
      <div class="col-5">
        <div class="fraud">
          <img src="https://www.axisbank.com/images/default-source/revamp_new/billboard-3.jpg">
          <br>
          <button type="button" class="btn btn-danger btn-block"><i class='bx bxs-radiation'></i>  Report Fraud</button>
        </div>
    </div>
</div>
</body>
</html>
