.container{
    margin: 100px;
    box-shadow: 0 20px 20px #c0bdbd;
    
}

.card{
    display: inline-flex;
    margin: 40px;
}

.warning{
   text-align: justify;
   margin-left: 100px;
   
}

.fraud{
    padding: 10px;
}

.btn{
    margin: 10px;
}
